<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @tweets.each do |tw| %>
      <p>
        <%= tw.content %>
      </p>
    <% end %>
  </body>
</html>
